<xf:macro name="thread_list_thumbnail" arg-thread="!" arg-isWidget="{{ false }}">
	<xf:if is="$isWidget">
		<xf:set var="$thumbWidth" value="{$xf.app.thumbWidthWidget}" />
		<xf:set var="$thumbHeight" value="{$xf.app.thumbHeightWidget}" />
		<xf:set var="$thumbWidthPadding" value="0" />
		<xf:set var="$thumbHeightPadding" value="0" />
	<xf:else/>
		<xf:set var="$thumbWidth" value="{$xf.app.thumbWidth}" />
		<xf:set var="$thumbHeight" value="{$xf.app.thumbHeight}" />
		<xf:set var="$thumbWidthPadding" value="30" />
		<xf:set var="$thumbHeightPadding" value="5" />
	</xf:if>
	
	<div class="structItem-cell structItem-cell--icon" 
		 style="width: calc({$thumbWidth}px + {$thumbWidthPadding}px);
				height: calc({$thumbHeight}px + {$thumbHeightPadding}px);">
		<div class="structItem-iconContainer">
			<a href="{{ link('threads', $thread) }}" 
			   title="{$thread.title}" 
			   class="avatar dcThumbnail"
			   style="width: {$thumbWidth}px;
					  height: {$thumbHeight}px;
					  border-radius: {$xf.app.thumbnailRadius}px">
				<img style="background-image: url({$thread.getThumbnail()});
							background-size: cover;
							background-position: center;
							object-position: -99999px 99999px;" 
					 src="{$xf.app.base64}" 
					 alt="{$thread.title}"/>
			</a>
		</div>
	</div>
</xf:macro>